.container {
  max-width: max(60vw, var(--max-width-tablet));
  padding: 32px;
  margin: 0 auto;
  margin-top: 128px;
  // font-size: 0.75em;

  > .icon {
    width: 64px;
    margin-bottom: 32px;
  }

  .content {
    margin-bottom: 32px;

    p { margin: 0; }
  }

  .buttons {
    .button {
      float: left;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
      width: 100%;
    }
  }
}